body {
    overflow-x: hidden;
}
.navigation li{
    padding: 0.5em 0;
}

.navigation li:hover{
   background: rgba(100,100,100,0.3);
}

.navigation li a{
    color: rgba(255,255,255,0.5);
    font-size: 1.1em;
    padding-left: 3em;
    font-weight: 800;
}

.navigation {
    padding: 0;
    list-style: none;
    background: #111;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    color: white;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding-top: 68px;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.mobile-top-bar{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 2;}

.mobile-logo{
    position: fixed;
    z-index: 3;
    right: 1em;
    top: 12px;
    display: "none";
    width: 135px;
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 3;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("/img/mobile-nav-icon.png");
    background-size: contain;
}

.nav-trigger:checked + label {
   /*background-image: url("/img/mobile-nav-icon-white.png");*/
}

.nav-trigger:checked ~ .site-wrap {
    top: 400px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    padding-top: 0;
}

.nav-trigger + label, .site-wrap {
    transition: top 0.2s ease;
}

